body {
    margin-left: 8%;
    background-color: #f9fafc;
    width: 100%;
    height: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal, 800;
    overflow: hidden;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.title {
    margin-top: 40px;
    margin-left:100px;
}

/* Navigation */
.navlist {
    display: flex;
    margin-top: 20px;
    margin-left: 530px;
    list-style: none;
    position: absolute;
}

.navlist a.btn {
    color: #69696a;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    margin-right: 30px;
}
.navlist a.btn:hover {
    background-color: #000;
    color: #f9fafc;
    border-radius: 30px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

/* Paragraph */
.main {
    margin-top: 8%;
    padding: 0 128px;
}

.box {
    color: #69696a;
    width: 37%;
    border-left: 3px solid rgba(105,105,106,0.1);
    padding: 0 15px;
}

/* Three Circles */
.circle {
    position: absolute;
    margin-left: 17%;
    margin-top: -2%;
}

.pink {
    position: relative;
    left: 640px;
    bottom: 140px;
    background-color: rgba(247,136,167,0.6);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: inline-block;
    z-index: -0.8;
}

.purple {
    position: relative;
    left: 600px;
    bottom: 250px;
    background-color: rgba(207,130,213,0.6);
    height: 160px;
    width: 160px;
    border-radius: 50%;
    display: inline-block;
    z-index: -0.3;
}

.orange {
    position: relative;
    left: 370px;
    bottom: 80px;
    background-color: rgba(247,193,162,0.7);
    height: 210px;
    width: 210px;
    border-radius: 50%;
    display: inline-block;
    z-index: 1;
}

/* Scroll Down Button */
#scroll {
    position: absolute;
    margin: 10% 38%;
}

#scroll a.btn {
    color: #69696a;
    display: block;
    text-decoration: none;
    padding: 10px;
}

#scroll a.btn:hover {
    background-color: #000;
    color: #f9fafc;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}